html, body{
    margin:0;
    padding:0;
    height:100%;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('fonts/Above.ttf'),format('truetype');
    src: local("☺"),
        url("fonts/Above.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*.parallax{
    position: fixed;
    z-index: -1;
    overflow-x: hidden;
    height: 500px;
    width: 100%;
}*/

/*.parallax{
    position: absolute;
    z-index: -1;
}*/

.l1Base{
    position:inherit;
    left:0px;
    right:0px;
    top:0px;
    width:100%;
    height:700px;
}

ul{
    padding-left: 0px;
    margin-left: 0px;
}

.nameWhite{
    position:fixed;
    z-index:1;
    /*top:50px;
    left:50px;
    height:100px;
    width:250px;*/
}

.nameCrimson{
    position:fixed;
    z-index:0;
    /*top:50px;
    left:50px;
    height:100px;
    width:250px;*/
}

.social{
    position: absolute;
    z-index: 1;
    left: 90%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.fb{
    top: 55%;
}

.git{
    top: 70%;
}

.in{
    top: 85%;
}

.test{
    background-color:white;
    height: 400px;
    width: 400px;
}

.fbFooter{
    position: absolute;
    left:70%;
    bottom:20%;
    z-index: 2;
    height: 50px;
}

.gitFooter{
    position: absolute;
    left:78%;
    bottom:27%;
    z-index: 2;
    height: 50px;
}

.inFooter{
    position: absolute;
    left:90%;
    bottom:0%;
    z-index: 2;
    height: 65px;
    /*width: 72px*/
}
/*
.l2Inkpatch{
    margin-left: 100px;
}

.l3Circle{
    width:200px;
    height:200px
}*/
/*
.l4Ink1{
    width:800px;
    height:500px
}

.l5Ink2{
    width:800px;
    height:500px
}*/

/*.top{
    z-index:3;
}

.jumbotron{
    padding-top: 500px;
}*/

/*.box{
    position: relative;
    padding-left: 250px;
    padding-top: 100px;
    height: 200px;
    width: 300px;
}

.name{
    padding-left: 250px;
    padding-top: 100px;
    height: 200px;
    width: 300px;
}*/


.footer{
    background-color: #2C2627;
    position: relative;
    height: 200px;
    width: 100%;
    bottom: 0%; 
    z-index: 1;
    font-family: 'MyWebFont';
    color: white;
}